{% extends "base_generic.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <h2>Dashboard</h2>
    
    <p>List of activities:</p>
    <div id="activities">
        <ul>
            {% for activity in activities %}
            <li>{{ activity.name }} - {{ activity.duration }} minutes</li>
            {% empty %}
            <li>No activities added yet.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'add_activity' %}">Add Activity</a>
    </div>  
    <p>
        <a href="{% url 'logout' %}">Log out</a>
    </p>



{% endblock %}